spawn-at-startup "swww-daemon" "-n" "wallpaper"
spawn-at-startup "swww-daemon" "-n" "backdrop"
spawn-at-startup "swww" "img" "/home/drusk/img/bg/warm-dunes.jpg" "-n" "wallpaper"
spawn-at-startup "swww" "img" "/home/drusk/img/bg/warm-dunes-blur.jpg" "-n" "backdrop"

spawn-at-startup "mako"
spawn-at-startup "eww" "open-many" "win0"  "win1" "win2"
spawn-at-startup "xwayland-satellite" ":0"
spawn-at-startup "sherlock --daemonize"

prefer-no-csd

screenshot-path "~/img/screenshots/screenshot_from_%Y_%m_%d_%H_%M_%S.png"