output "HDMI-A-1" {
    mode "2560x1440@59.951"
    position x=1920 y=0
}

output "DP-2" {
    mode "1920x1080@60.00"
    position x=0 y=0
}

output "eDP-1" {
    mode "1920x1080@60.000"
    transform "normal"
    position x=3630 y=0
}