$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;


* {
  all: unset;
}

window {
  background-color: $crust;
  background-color: $base;
}

.workspace {
  margin: 3px;
  margin-right: 7px;
  margin-left: 7px;
  padding: 0px;
  background-color: $surface0;

  min-width: 20px;
  min-height: 20px;
}

.workspace {
  background-color: $blue;
  color: $base;
}

.active {
  background-color: $peach;
  color: $base;
}

.battery, .time, .date {
  font-size: 10px;
}

.route53 {  
  font-size: 10px;
  background-color: $crust;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3px;
  padding-right: 3px;
}
.route53.changed {  
  background-color: $red;
}


