###########################
# POLYBAR MODULE SETTINGS #
###########################

# Modules --------------------------------------- foldstart

[module/battery]
type = internal/battery

full-at = 99
battery = BAT0
adapter = ADP1
poll-interval = 5

format-charging = <animation-charging> <label-charging>
format-discharging = <ramp-capacity> <label-discharging>
label-charging = %percentage%%
label-discharging = %percentage%%

; Only applies if <animation-charging> is used
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
; Framerate in milliseconds
animation-charging-framerate = 750

; Only applies if <animation-discharging> is used
animation-discharging-0 = 
animation-discharging-1 = 
animation-discharging-2 = 
animation-discharging-3 = 
animation-discharging-4 = 
; Framerate in milliseconds
animation-discharging-framerate = 750

[module/date]
type = internal/date

format =  <label>
label  = %date% 
date   = %d/%m/%Y
##format-background = ${colors.magenta}

[module/time]
type = internal/date 

format = " <label>  "
label  = %time% 
time   = %H:%M 
#format-background = ${colors.red}

[module/i3]
type = internal/i3

format =  <label-mode> <label-state>

index-sort      = false
enable-click    = false
enable-scroll   = false
wrapping-scroll = false


label-mode-padding    = 3
label-mode-foreground = #000
label-mode-background = #FFF 

# focused = Active workspace on focused monitor
label-focused            = %index%
label-focused-background = #FFFFFF
label-focused-padding    = 3

# unfocused = Inactive workspace on any monitor
label-unfocused          = %index%
label-unfocused-padding  = 3

# visible = Active workspace on unfocused monitor
label-visible            = %index%
label-visible-background = ${self.label-focused-background}
label-visible-padding    = 3

# urgent = Workspace with urgency hint set
label-urgent             = %index%
label-urgent-background  = #FFFFFF 
label-urgent-padding     = 3


[module/bspwm]
type = internal/bspwm

background     = 
pin-workspaces = true
inline-mode    = false
enable-click   = true
enable-scroll  = false
reverse-scroll = false
fuzzy-match    = false

label-empty                  = 
label-empty-font             = 6
label-empty-padding          = 2
label-empty-foreground     = ${colors.grey}

label-focused                = 
label-focused-font           = 5
label-focused-padding        = 2
label-focused-foreground     = ${colors.foreground}

label-monocle                = 
label-monocle-font           = 5
label-monocle-padding        = 2
label-monocle-foreground     = ${colors.magenta}
# 
# label-tiled                  = 
# label-tiled-font             = 2
# label-tiled-padding          = 2
# label-tiled-foreground       = ${colors.cyan}
# 
# label-fullscreen             = 
# label-fullscreen-font        = 2
# label-fullscreen-padding     = 2
# label-fullscreen-foreground  = ${colors.white}
# 
# label-pseudotiled            = 
# label-pseudotiled-font       = 2
# label-pseudotiled-padding    = 2
# label-pseudotiled-foreground = ${colors.blue}
# 
# label-locked                 = 
# label-locked-font            = 2
# label-locked-padding         = 2
# label-locked-foreground      = ${colors.yellow}
# 
# label-floating               = 
# label-floating-font          = 2
# label-floating-padding       = 2
# label-floating-foreground    = ${colors.green}
# 
# label-marked                 = 
# label-marked-font            = 2
# label-marked-padding         = 2
# label-marked-foreground      = ${colors.red}
# 
# label-private                = 
# label-private-font           = 2
# label-private-padding        = 2
# label-private-foreground     = ${colors.red}
# 
# label-sticky                 = 
# label-sticky-font            = 2
# label-sticky-padding         = 2
# label-sticky-foreground      = ${colors.red}

label-occupied               = 
label-occupied-font          = 5
label-occupied-padding       = 2
label-occupied-foreground     = ${colors.grey}

[module/cpu]
type = internal/cpu

interval      = 1
#format        = <label> <ramp-coreload> 
format        = <label> 
format-prefix = ""
label         = %percentage:3%%

#format-background = ${colors.yellow}

ramp-coreload-spacing = 1
ramp-coreload-0 = ▁
ramp-coreload-1 = ▂
ramp-coreload-2 = ▃
ramp-coreload-3 = ▄
ramp-coreload-4 = ▅
ramp-coreload-5 = ▆
ramp-coreload-6 = ▇
ramp-coreload-7 = █

#ramp-load-0 = ▁
#ramp-load-1 = ▂
#ramp-load-2 = ▃
#ramp-load-3 = ▄
#ramp-load-4 = ▅
#ramp-load-5 = ▆
#ramp-load-6 = ▇
#ramp-load-7 = █

[module/memory]
type = internal/memory

interval = 2
label    =  %percentage_used%%
#format-background = ${colors.blue}

[module/eth]
type = internal/network

interface = enp0s31f6
interval  = 5

format-connected           = <label-connected>
format-connected-prefix    = " "
label-connected            = "Connected"

format-disconnected        = <label-disconnected>
format-disconnected-prefix = " "
label-disconnected         = "Disconnected"

#format-connected-background    = ${colors.cyan}
#format-disconnected-background = ${colors.cyan}

[module/alsa]
type = internal/alsa

format-volume = <ramp-volume> <label-volume>
label-muted   =   muted

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

#format-volume-background   = ${colors.red}
#format-muted-background    = ${colors.red}
#bar-volume-width          = 10
#bar-volume-gradient       = false
#bar-volume-indicator      = |
#bar-volume-indicator-font = 1
#bar-volume-fill           = ─
#bar-volume-fill-font      = 1
#bar-volume-empty          = ─
#bar-volume-empty-font     = 1

[module/volume]
type = internal/pulseaudio

format-volume = <ramp-volume> <label-volume>
label-muted   =   muted

click-right = pavucontrol & disown

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

#format-volume-background   = ${colors.red}
#format-muted-background    = ${colors.red}

[module/temperature]
type = internal/temperature

interval = 5

# List all thermal zones with:
#  $ for i in /sys/class/thermal/thermal_zone*; do echo "$i: $(<$i/type)"; done
thermal-zone = 2

# /sys/devices/platform/coretemp.0/hwmon/hwmon2/temp1_input
hwmon-path       = 
base-temperature = 20
warn-temperature = 60

format            = <ramp> <label>
format-warn       = <ramp> <label-warn>
label             = %temperature-c%
label-warn        =  %temperature-c%
#format-background = ${colors.green}

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 

[module/root-fs]
type = internal/fs

mount-0 = /

interval     = 600
fixed-values = true
spacing      = 2

format-mounted =  <label-mounted>
label-mounted = %percentage_free%%

#format-mounted-background   = ${colors.blue}
#format-unmounted-background = ${colors.blue}

[module/home-fs]
type = internal/fs

mount-0 = /home

interval     = 600
fixed-values = true
spacing      = 2

format-mounted =  <label-mounted>
label-mounted = %percentage_free%
#format-mounted-background   = ${colors.blue}
#format-unmounted-background = ${colors.blue}


# [module/github]
# type = internal/github
# 
# token = ${file:~/.config/polybar/tokens/github.token}
# user = druskus20
# 
# ; Whether empty notifications should be displayed or not
# empty-notifications = true
# 
# ; Number of seconds in between requests
# interval = 60
# 
# 
# format =  <label>
# label = %notifications%
# 
# 
# format-offline =  <label-offline>
# label-offline = offline


# foldend

# Custom Modules --------------------------------------- foldstart

[module/cmus]
type = custom/script

exec       = ~/.config/polybar/modules/cmus.sh
exec-if    = pgrep -x cmus
interval   = 5
format     = <label>
label      =  %output%

#format-foreground = ${colors.foreground-alt} 

[module/nvidia]
type = custom/script

exec     = ~/.config/polybar/modules/nvidia-smi.sh
interval = 3
format   = <label>
label    =  %output%

#format-foreground = ${colors.foreground}
##format-background = ${colors.magenta}

[module/amdgpu]
type = custom/script

exec     = ~/.config/polybar/modules/amdgpu.sh
interval = 3
format   = <label>
label    =  %output%

#format-foreground = ${colors.foreground}
##format-background = ${colors.magenta}

# [module/spotify]
# type = custom/script
# 
# exec     = ~/.config/polybar/modules/spotify.sh 
# interval = 5
# #tail     = true
# format  = <label>
# label   =  %output%
 
# This is stoopid and I love it :P
[module/spotify]
type = custom/ipc
hook-0 = ~/.config/polybar/modules/spotify.sh 
hook-1 = echo "paused" 
click-right = polybar-msg hook spotify 2

initial = 1
format = <output>


[module/spotify-update]
type = custom/script
exec = polybar-msg hook spotify 1
interval = 5
label =

#format-foreground = ${colors.foreground-alt}

[module/network]
type = custom/script

exec     = ~/.config/polybar/modules/network.sh 
interval = 10
#tail     = true
format  = <label>
label   =  %output%

[module/updates]
type = custom/script

exec     = arch-aur-updates || ~/.config/polybar/modules/arch-aur-updates.sh 
interval = 300
#tail     = true
format  =  <label>
label   = %output%


[module/ping]
type = custom/script

exec     = ~/.config/polybar/modules/ping.sh
interval = 15
format  =  <label>
label   = %output%


[module/host]
type = custom/ipc
hook-0 = ~/.config/polybar/modules/host.sh
initial = 1


[module/noisetorch]
type = custom/script

exec     = ~/.config/polybar/modules/noisetorch.sh
interval = 20
format  =  <label>
label   = %output%
click-right = noisetorch


# This is stoopid and I love it :P
[module/trash]
type = custom/ipc
hook-0 = ~/.config/polybar/modules/trash.sh
hook-1 = ~/.config/polybar/modules/trash.sh --clean &
click-right = polybar-msg hook trash 2

initial = 1
format =  <output>


[module/trash-update]
type = custom/script
exec = polybar-msg hook trash 1
interval = 60
label =

[module/github]
type = custom/script
exec = ~/.config/polybar/modules/github-notifications.sh
interval = 60           
format =  <label>
label = %output%
click-right = $BROWSER https://github.com/notifications


# [module/microphone-update]
# type = custom/script
# interval = 1
# format =  <label>
# exec = ~/.config/polybar/modules/microphone.bash2 show-vol
# 
# ; Control actions (using pactl)
# click-left = ~/.config/polybar/modules/microphone.bash22 mute-vol
# scroll-up = ~/.config/polybar/modules/microphone.bash2 inc-vol 
# scroll-down = ~/.config/polybar/modules/microphone.bash2 dec-vol 


# This is stoopid and I love it :P
[module/microphone]
type = custom/ipc
hook-0 = ~/.config/polybar/modules/microphone.bash show-vol
hook-1 = ~/.config/polybar/modules/microphone.bash mute-vol
hook-2 = ~/.config/polybar/modules/microphone.bash inc-vol 
hook-3 = ~/.config/polybar/modules/microphone.bash dec-vol 

initial = 1
click-left = polybar-msg hook microphone 2
click-right = pavucontrol & disown
scroll-up = polybar-msg hook microphone 3
scroll-down = polybar-msg hook microphone 4

format = <output>


[module/microphone-update]
type = custom/script
exec = polybar-msg hook microphone 1
interval = 60
label = 




# foldend


# vim:ft=dosini
# vim:foldmarker=foldstart,foldend

