should_launch_new_window 1
dark_mode_background_color 0.118 0.118 0.18
custom_background_color              0.118 0.118 0.18
custom_text_color                    0.8 0.8 0.8
status_bar_color        #11111b
status_bar_text_color   1 1 1
status_bar_font_size    16

startup_commands toggle_custom_color

